 <!---------------------- top-Sellers  Anton Odintsov--------------------------------->
 <section >
    <div>
    <h2><span>Top</span> Sellers</h2>
    <ul class="list list-two">
        <li><img src="./images/desk_topsellers_img01.jpg" alt="" width="368" height="464"></li>
        <li><img src="./images/desk_topsellers_img02.jpg" alt="" width="368" height="464"></li>
        <li><img src="./images/desk_topsellers_img03.jpg" alt="" width="368" height="464"></li>
    </ul>
    <ul>
        <li>
            <p>Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. 
                Cacao has been around for thousands of years and was first discovered by the Native 
                American tribe called the Mayans.</p>
        </li>
        <li>
            <button data-modal-open>Buy now</button>
        </li>
    </ul>
</div>
 </section>